<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hackademy | Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-control">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" />
            </div>
            <div class="form-control">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" />
            </div>
            <button type="submit">Login</button>
            <a href="{% url 'register' %}">Register</a>
        </form>
    </body>
</html>
