{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/register.css' %}" />
        <title>Hackademy | Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-control">
                <label for="id_username">Username</label>
                {{ register_form.username }}
            </div>
            <div class="form-control">
                <label for="id_password1">Password</label>
                {{ register_form.password1 }}
            </div>
            <div class="form-control">
                <label for="id_password2">Confirm Password</label>
                {{ register_form.password2 }}
            </div>
            <div class="form-control">
                <label for="id_email">Email</label>
                {{ register_form.email }}
            </div>
            <div class="form-control">
                <label for="id_first_name">First Name</label>
                {{ register_form.first_name }}
            </div>
            <div class="form-control">
                <label for="id_last_name">Last Name</label>
                {{ register_form.last_name }}
            </div>
            <div class="buttons">
                <button type="submit">Register</button>
                <a href="{% url 'profile' %}">Back</a>
            </div>
        </form>
    </body>
</html>
